In [79]:
import pandas as pd
import numpy as np
import freeman as fm
import networkx as nx

In [136]:
bruno = pd.read_csv(
    "csv/players.csv",
     usecols=("date", "player_name", "team", "player_id", "match_id", "event_id", "rating"),
)
bruno.loc[:, "date"] = pd.to_datetime(bruno["date"], format="%Y-%m-%d")
bruno.loc[:, "player_name"] = bruno["player_name"].apply(
    lambda x: str(x).encode('ascii', 'backslashreplace').decode('ascii')
)

In [137]:
bruno.cabeca = bruno.head
bruno.cabeca()
# type(bruno["player_name"].iloc[0])
# bruno[bruno["player_name"].apply(lambda x: type(x)!= str)]
# _ = bruno["player_name"].apply(lambda x: print(x) if type(x) != str else None)

        date player_name           team  player_id  match_id  event_id  rating
0 2020-02-26      Brehze  Evil Geniuses       9136   2339385      4901    1.04
1 2020-02-26        CeRq  Evil Geniuses      11219   2339385      4901    0.98
2 2020-02-26       EliGE         Liquid       8738   2339385      4901    1.08
3 2020-02-26       Ethan  Evil Geniuses      10671   2339385      4901    0.83
4 2020-02-26         NAF         Liquid       8520   2339385      4901    1.08

In [138]:
upid_rating = bruno.groupby(["player_id", "player_name"])["rating"]
median = upid_rating.median()
median.name = "median"
mean = upid_rating.mean()
mean.name = "mean"

helionp = pd.concat([median, mean], axis=1)
helionp.ceara = helionp.head
helionp.ceara()

                       median      mean
player_id player_name
2         RobbaN        0.775  0.775000
7         Friis         1.030  1.047344
11        Vertigo       0.925  0.925000
13        RashiE        1.240  1.201818
15        m1kkis        0.990  1.019756

In [139]:
with open("csgo.gml", "w+") as f:
    f.write("graph [\n    directed 0\n")
    for (p_id, p_name), (median, mean) in helionp.iterrows():
        f.write("    node [\n")
        f.write(f"        id {p_id}\n")
        f.write(f"        label \"{p_name}\"\n")
        f.write("    ]\n")
        
        # achar os caras de mesmos timer
#     for fr, fb in fighters:
#         f.write("    edge [\n")
#         f.write(f"        source {all_fighters.index[all_fighters['name'] == fr][0]}\n")
#         f.write(f"        target {all_fighters.index[all_fighters['name'] == fb][0]}\n")
#         f.write("    ]\n")

    f.write("]\n")

In [142]:
break
g = fm.load('csgo.gml')
g.set_all_nodes(size=10, labpos='hover')
# g.set_all_edges(color=(0, 0, 0, 0.25))
# g.move("kamada_kawai")
g.draw()

SyntaxError: 'break' outside loop (<ipython-input-142-997f0e0c289f>, line 1)

In [143]:
print(bruno["player_name"].unique().shape)
print(bruno["player_id"].unique().shape)

(11992,)
(12295,)

In [154]:
s = set()
for i in helionp.index.values:
#     print(i)
    if i[0] in s:
        print(i)
    else:
        s.add(i[0])
#     if helionp.loc[i[0]].shape[0] != 1:
#         print(i)