In [10]:
import os
import json
import glob
from typing import Dict
import pandas as pd

In [11]:
csv_cols = ["video_id", "category_id", "views", "likes" , "dislikes", "comment_count",
            "trending_date", "comments_disabled", "ratings_disabled"]
ytdata_cols = csv_cols + ["country", "category"]
data_dir = "src/"

In [12]:
original_directory = os.getcwd()
try:
    os.chdir(data_dir)
except FileNotFoundError:
    os.chdir("..")
    original_directory = os.getcwd()
    os.chdir(data_dir)

ytdata: pd.DataFrame = pd.DataFrame(columns=ytdata_cols)

for csv_name in glob.glob("*.csv"):
    country: str = csv_name[:2]
    csv_data: pd.DataFrame = pd.read_csv(csv_name, usecols=csv_cols)
    csv_data["country"] = country

    with open(f"{country}_category_id.json", "r") as json_file:
        json_data = json.load(json_file)

    category_dict: Dict[int, str] = {}
    for video_category in json_data['items']:
        category_dict[int(video_category['id'])] = video_category['snippet']['title']
    if 29 not in category_dict:
        category_dict[29] = "Nonprofits & Activism"
        
    csv_data["category"] = csv_data["category_id"].apply(lambda x: category_dict[x])

    ytdata = pd.concat([ytdata, csv_data])

del country, csv_data, csv_name, json_file, json_data, video_category, category_dict

os.chdir(original_directory)
del original_directory

In [13]:
ytdata = ytdata.loc[(ytdata["video_id"] != "#NAME?") &
                    (ytdata["comments_disabled"] == False) &
                    (ytdata["ratings_disabled"] == False)]
# ytdata.set_index(pd.RangeIndex(start=0, stop=ytdata.shape[0], step=1), inplace=True)

In [14]:
ytdata.head(10)

,video_id,category_id,views,likes,dislikes,comment_count,trending_date,comments_disabled,ratings_disabled,country,category
0,n1WpP7iowLc,10,17158579,787425,43420,125882,17.14.11,False,False,CA,Music
1,0dBIkQ4Mz1M,23,1014651,127794,1688,13030,17.14.11,False,False,CA,Comedy
2,5qpjK5DgCt4,23,3191434,146035,5339,8181,17.14.11,False,False,CA,Comedy
3,d380meD0W0M,24,2095828,132239,1989,17518,17.14.11,False,False,CA,Entertainment
4,2Vv-BfVoq4g,10,33523622,1634130,21082,85067,17.14.11,False,False,CA,Music
5,0yIWz1XEeyc,25,1309699,103755,4613,12143,17.14.11,False,False,CA,News & Politics
6,_uM5kFfkhB8,23,2987945,187464,9850,26629,17.14.11,False,False,CA,Comedy
7,2kyS6SvSYSE,22,748374,57534,2967,15959,17.14.11,False,False,CA,People & Blogs
8,JzCsM1vtn78,24,4477587,292837,4123,36391,17.14.11,False,False,CA,Entertainment
9,43sm-QwLcx4,22,505161,4135,976,1484,17.14.11,False,False,CA,People & Blogs

In [15]:
m = 1
for i in c:
#     if i == "#NAME?":
#         continue
    if c[i] >= 35:
        m = c[i]
        print(i, c[i])

NameError: name 'c' is not defined

In [ ]:
ytdata[ytdata["video_id"] == "DX5_o-mumvE"]

In [ ]:
 df["trending_date"].values[15000]

In [ ]:
df.shape[0]

In [ ]:
a = ytdata["video_id"].unique()

In [ ]:
a

In [165]:
variaveis = pd.read_excel("vars_fake.xlsx")
variaveis = variaveis.set_index("var")
paises = variaveis.columns
gml = """graph [
    directed 0

"""
for i in range(variaveis.shape[1]):
    gml += f"""    node [
        id "{paises[i]}"
        label "{paises[i]}"

"""
    for j in range(variaveis.shape[0]):
        var = variaveis.index[j]
        gml += f"""        {var} {variaveis.loc[var][i]}
"""
    gml += "    ]\n"
conexoes_paises = pd.read_excel("edges_fake.xlsx")
conexoes_paises = conexoes_paises.set_index("paises")
weights = {}
for pais_linha in paises:
    for pais_coluna in paises:
        if (pais_linha, pais_coluna) not in weights and (pais_coluna, pais_linha) not in weights and pais_linha != pais_coluna:
            weights[pais_linha, pais_coluna] = conexoes_paises.loc[pais_linha][pais_coluna]
thresh = 10
for [source, target], weight in weights.items():
    if weight > thresh:
        gml += f"""    edge [
        source "{source}"
        target "{target}"
        weight {weight}
    ]
"""
gml += "]"
with open("rede.gml", "w") as file:
    file.write(gml)